@import "tailwindcss";
html {
  scroll-behavior: smooth;
} 
@keyframes slide-wave-up {
  0%   { transform: translateX(-400%) translateY(0%); }
  25%  { transform: translateX(-200%) translateY(-30%); }
  50%  { transform: translateX(0%)    translateY(0%); }
  75%  { transform: translateX(200%)  translateY(30%); }
  100% { transform: translateX(400%)  translateY(0%); }
}

@keyframes slide-wave-down {
  0%   { transform: translateX(-400%) translateY(30%); }
  25%  { transform: translateX(-200%) translateY(0%); }
  50%  { transform: translateX(0%)    translateY(-30%); }
  75%  { transform: translateX(200%)  translateY(0%); }
  100% { transform: translateX(400%)  translateY(30%); }
}
@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDownFade {
  animation: slideDownFade 0.25s ease-out;
}

.slide-wave-up {
  animation: slide-wave-up 40s linear infinite;
}

.slide-wave-down {
  animation: slide-wave-down 40s linear infinite;
}
